# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# The name of the file (with some secrets) I'm using to debug
debug_patrickceg.sh

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# Make sure to not add build / test run artifacts
iamcrazy
bannergrabtroll
